* {
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}


a {
    color: inherit;
    text-decoration: none;
}

.navitem {
    display: inline-block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 5px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navitem:hover{
    background-color: rgb(0, 170, 159);
}


/**fondo **/
#contentContainer {
    height: 800px;
    background-color: rgb(197, 175, 137);
    display: grid;
    grid-template-columns: 250px 2fr;
    justify-content: center;
}
/**#contentContainer div{
    display: inline-block;
} **/


#categories{
    padding: 10px;
    height: 800px;
    width: 250px;
    border-right: 5px solid black;
    background-color: rgba(0, 153, 255, 0.396);
    color: rgb(0, 0, 0);
    font-size: large;
    box-sizing: border-box;
}

#categories ul{
    list-style-type: none;
}

#categories li{
    margin-top: 20px;
}

#navbar{
    width: auto;
    height: 50 px;
    padding-left: 20px;
    background-color: rgba(250, 255, 146, 0.736);
    border-bottom: 4px solid black;
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre las imágenes, opcional */
    align-items: center;
}

.image-container img {
    width: 600px; /* Asegura que las imágenes ocupen el 100% del ancho disponible */
    height: auto; /* Mantiene la proporción de las imágenes */
} 
